<nav class="navbar navbar-expand-md navbar-dark bd-navbar mb-4">
  <a class="navbar-brand" href=""><img src="assets/brand/cerebrito.png" width="30" height="30" class="d-inline-block align-top"
      alt=""> Psycho</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="">Evaluacion</a>
      </li>
    </ul>
    <form class="form-inline mt-2 mt-md-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link">Profesor<span class="sr-only">(current)</span></a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{profesor?.nombre}} {{profesor?.apellido}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="">Perfil</a>
            <a class="dropdown-item" href="">Cursos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">Cerrar Sesión</a>
          </div>
        </li>
      </ul>
      <img src="assets/img/{{profesor?.url_foto}}.jpg" alt="Responsive image" class="rounded-circle" width="40" height="40">
    </form>
  </div>
</nav>