.buscar{
    font-size: 1em;
    border-radius: 2em;
    width: 70%;
    }

.botonBuscar{
        border-radius: 2em;
        border-color: #7B1FA2;
        color: #7B1FA2;
    }

    .botonBuscar:hover{
        background-color: #7B1FA2; 
        color: white;
    }

.buscarEstudiante{
    font-size: 1em;
    border-radius: 2em;
    width: 30%;
}

.centrarDivImg{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrarDivH1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
